.custom-radiobutton {
	opacity:0;
	filter:alpha(opacity=0);
	left:-9999px;
	position:absolute;
}

.custom-radiobutton-display {
	display:inline-block;
	margin:0 5px;
	cursor:pointer;
	font-size:0;
	width:18px;
	position:relative;
	z-index:2;
	height:18px;
	vertical-align:middle;
	background:url("../images/radio-bg.png") center 0 no-repeat;
}

.custom-radiobutton-display:before {
	content:' ';
	display:inline-block;
	width:18px;
	height:18px;
}

.custom-radiobutton-display.custom-radiobutton-checked:before {
	background:url("../images/radio-checked.png") center 0 no-repeat;
}